
.navbar-brand img{

  height: 40px;
  
}

a:hover{
  text-decoration: none;
}


.jumbotron{
  height: 100px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: orange;
  color: white;
  
}

body{
  background-color: black;
  color: rgb(255, 0, 98);
  font-family: 'Poppins', sans-serif;
  

}
.navbar-toggler:focus{
  outline: none;
  
}

/*dropdown*/
.dropdown-menu {
  
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;

  background-color: grey;
  
  padding-bottom: 0;
  border-radius: 10px;
}

.dropdown-menu .dropdown-header{
  color: white;
}


.dropdown-item{
  color: black;
}

@media (hover: none) and (pointer: coarse) {
  .dropdown-item:hover{
    background-color: inherit;
    color: inherit;
  }
  .nav-item:hover{
    background-color: inherit;
    color: inherit;
  }
}
.lead{
  margin-top: 10px;
  margin-bottom: 45px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: aliceblue;
}
 h1{
   margin-top: 40px;
   color: white;
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight: 100;
   
 }
 h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
 }

 hr {
   height: 2px;
   margin-right: 15px;
   margin-left: 15px;
   background: linear-gradient(to right, white, black);
 }

 
 p{
   line-height: 30px;
 }

 /*Cards for experience*/
.card img{
   width: 100%;
   height:auto;
   z-index:-1;
   background-color: #bc318f;
   border-radius: 20px;
 }
.card{
   border-radius: 20px;
   margin-bottom: 20px;
   margin-top: 10px;

   margin-right: none;
   margin-left: none;

   background-color: orange;
   color: black;
   z-index: 2;
   
   padding: 0;
 }
 @media (hover: hover) and (pointer: fine) {

  .card:hover{
    background-color: rgb(16, 6, 71);
    color:orange;
    transition: 0.5s;
  }
}

@media (hover: none) and (pointer: coarse) {
  .card:hover{
    background-color: inherit;
    color: inherit;
  }
  
}

 .card-text{
   
   margin-top: 5px;
   margin: auto;
   padding: 10px;
   
 }
 


 


/*Skill flexbox*/
.skill-column{
  box-sizing: border-box;
  background-color: orange;
  color: black;
  
  flex-basis: 48%;
  border-radius: 10px;
  padding-bottom: 0;
}

.skill-column ul{
  
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 10px;

  padding-bottom: 8px;
  
}

.skill-column h3{
  margin-left: 20px;
  margin-right: 10px;
  
  margin-top: 10px;
  
  padding-top: 10px;
  
}

.skill-column p{
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  
}

@media (min-width : 900px){
  .column-layout{
    display: flex;
    justify-content: space-between;
  }

  
}

.carousel .carousel-inner img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  overflow: hidden;
}


footer{
  background: linear-gradient(to right, black, rgb(99, 97, 97)); 
  padding-bottom: 5px;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  
  color: white;
}

footer p{
  padding-top: 10px;
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.footerhr{
 height: 2px;
 background: linear-gradient(to right, white, black); 
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0;
}

.sociallogos{
  text-align: center;
}

.sociallogos .fab{
  
    
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    
    margin-top: 10px;

    margin-right: 10px;
    margin-left: 10px;
}


.fab a:hover{
  color: inherit;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram{
  /*The background gradient for insta icon*/
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  
  color: white;
}

.fa-whatsapp{
  background: #25D366;
  color: white
}

.fab:hover{
  color: white;
}

@media (hover: hover) and (pointer: fine) {
  .sociallogos .fab:hover {

    transform: translateY(-8px);
    transition:0.3s;
    color: white;
  }
}
@media (hover:none) and (pointer: coarse){
    .fab a:hover{
      text-decoration: none;
      color: white;
    }

    .fab a:active{
      text-decoration: none;
      transform: translateY(-8px);
      color: white;
    }

    .sociallogos .fab:hover{
      color: white;
    }
}


.dropdown-divider{

  margin-top: 0;
  margin-bottom: 0;
}
#seperateditem{
  padding-top: 7px;  
  padding-bottom: 8px;
  margin-bottom: 0;
}
#itemb4seperator{
  padding-bottom: 5px;
}

html{
  scroll-behavior: smooth;
}

#gotop:link{
  position:fixed;
  bottom: 25px;
  right: 20px; 
  z-index: 99;
  font-size: 30px;
  text-align: center;
  
  text-decoration: none;
  
  background-color: orange;
  color: white;
  cursor: pointer;

  border-radius: 5px;
  width: 30px;
 
}

#gotop:visited{
  position:fixed;
  bottom: 25px;
  right: 20px;
  z-index: 99;
  font-size: 30px;
  text-decoration: none;
  
  background-color: orange;
  color: white;
  cursor: pointer;

  border-radius: 5px;
 
}

@media (hover: hover) and (pointer: fine) {
  #gotop:hover{
    background-color: white;
    color: orange;
  }
}

#gotop:active{
  background-color: white;
  color: orange;
  transform: translateY(-4px);
}

#gotoppc{
  display: none;  
  
  float: right;  
  background-color: orange;

  margin-top: 5px;

  width: 30px;
  border-radius: 20%;
  margin-top: 10px;
}

@media(min-width:700px){
  #gotoppc{
    display: block;
    font-size: 30px;

    text-decoration: none;
    background-color: orange;
    color: white;
    cursor: pointer;

    border-radius: 5px;
      
  }

  
  
  #gotop:active{
    background-color: orange;
    color: white;
    transform: translateY(-4px);
  }
  #gotop{
    display:none;
  }
  
}

@media (hover: hover) and (min-width:700px){
  #gotoppc:hover{
    background-color: white;
    color: orange;
  }

}

.flexrow{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card{
  flex: 1;
  flex-basis: 40%;
  padding: 10px;
  margin-bottom: 10px;
  margin: 10px;
}

